/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# sorbet debug errors
/sorbet/rbi/hidden-definitions/errors.txt

# local gemset
Gemfile.lock
