---
http_interactions:
- request:
    method: get
    uri: https://csrng.net/csrng/csrng.php?max=10000&min=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"status":"success","min":1,"max":10000,"random":3001}]'
  recorded_at: Tue, 18 May 2021 09:04:04 GMT
recorded_with: VCR 3.0.3
