---
http_interactions:
- request:
    method: get
    uri: https://csrng.net/csrng/csrng.php?max=9007199254740991&min=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"status":"success","min":1,"max":9007199254740991,"random":7720993210814029}]'
  recorded_at: Thu, 03 Jun 2021 06:38:41 GMT
recorded_with: VCR 3.0.3
