---
http_interactions:
- request:
    method: get
    uri: https://csrng.net/csrng/csrng.php?max=9007199254740991&min=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"status":"success","min":10,"max":9007199254740991,"random":6782154946360725}]'
  recorded_at: Tue, 18 May 2021 09:04:06 GMT
recorded_with: VCR 3.0.3
